﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    IT Solution Pvt. Ltd.<br />
    Herndon, Virginia USA<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@its.com">Support@its.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@its.com">Marketing@its.com</a>
</address>